/* This code is only meant for previewing your Reflow design. */


#footerbox {
    float: left;
    height: 100px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(69, 59, 147,0);
}

#footertext {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 21px;
    clear: none;
    min-height: 25px;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.780392);
    text-shadow: 2px 2px 5px rgba(89, 63, 95, 0.38);
}

