/* This code is only meant for previewing your Reflow design. */

h1{
   font-weight: bold;
  color: #4253a0;
  font-size: 32px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 2px;
}

h5{
    color: #476daa;
    margin-top:2px;
    margin-bottom: 4px; 
    padding-bottom: 2px;
}

hr {
  border: 0;
  width: 100%;
    color: #4253a0;
 background-color: rgba(96, 107, 155, 0.45);
height: 2px;
     margin-top:1px;
     margin-bottom:1px;
}

body{
     color: #384372; 
}
a:hover {
  color: #cf68f5;
  text-decoration: underline;
}
p{
 color: #384372;  
    margin-bottom: 4px; 
    padding-bottom: 5px;
}
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:-webkit-linear-gradient(270deg,rgb(59,209,245) 0%,rgb(81,132,246) 100%);
    background-attachment: scroll;
    background-size: auto;
    position: relative;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#white_box {

    background: rgba(255, 255, 255, 0.780392);
	border-radius: 20px;
	float: left;
	left: 0;
	margin: 0 0 20px 20px;
	min-height: 40px;
	top: 0;
	width: 600px;
    box-shadow:5px 8px 10px 2px rgba(98, 43, 118, 0.26);	
}

#white_box_content {
    float: none;
    height: auto;
    margin: 6%;
    clear: none;
    width: auto;
    min-height: 20px;
}






#sharingbutton {
    float: left;
    height: auto;
    margin: 5.923421% 5.923421% 0% 5.923421%;
    clear: none;
    width: 100%;
    min-height: 0px;
}


#nav_box {
	float: left;
	height: 100%;
	margin: 0 10px;
	width: 100px;
    min-height: 10px;
}


#nav_background {

	background: rgba(32, 87, 177, 0.380392);
	border-radius: 15px;
	float: left;
	left: 0;
	min-height: 20px;
	top: 0;
	width: 100%;


    
    box-shadow:3px 4px 5px 2px rgba(75, 29, 63, 0.57);
}


#nav_content {
    color: rgba(255,255,255,1);
    float: left;
    height: auto;
    margin: 20px 10px 20px 20px;
    clear: none;
    width: 77.429199%;
    min-height: 100px;
    
}


#main_box {

	margin: 18.65625px auto 0;
	width: 100%;

}

#main_box_content {
	margin: 14px auto 0;
	width: 790px;
}


#logo {
    float: none;
    width: 166px;
    height: auto;
    margin-left: auto;
    margin-top: 3em;
    margin-bottom: 1.5em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    max-width: none;
}

#blogCenteredImage
{
    float:none;
    
    width: 90%;
    
    height: auto;
    
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 600px;
        
    
}

#vineFrame
{
    float:none;
    
    width: auto;
    
    height: auto;
    
    max-height: 320px;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    
}


#imageCarrouselHolderBox {
	height: auto;
	margin: auto;
	width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#imageCarrousel .item{
  margin: 3px;
}
#imageCarrousel .item img{
  display: block;
  width: 100%;
  height: auto;
}




@media only screen and (max-width: 796px) {
	#main_box_content {
		width: 94%;
	}

	#white_box {
		clear: both;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 100%;
	}



	#nav_box {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}


#nav_background {
		margin-bottom: 10px;
		width: 100%;
	}

	#white_box {
		clear: both;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 100%;
	}

}


