{% include head.html %}

<html>
  
    <body>
        
         <div id="primaryContainer" class="primaryContainer clearfix">
              <div id="box" class="clearfix">
            <p id="text">
    	
    
                    resr
    	       {{  content| strip_html }}

    	
     </div>
        </p>
        
    </body>
	
</html>    

{% include nav.html %}
</div>
{% include foot.html %}
<h1>{{ page.title }}</h1>
Recipe by <a href="{{ page.recipe-attribution-link }}">{{ page.recipe-attribution }}</a>.