/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(59,209,245); /* for non-css3 browsers */
    background-image: -ms-linear-gradient(top, rgb(59,209,245) 0%,rgb(81,132,246) 100%);

    background-image:-webkit-linear-gradient(270deg,rgb(59,209,245) 0%,rgb(81,132,246) 100%);
   background-image: -moz-linear-gradient(top, rgb(59,209,245) 0%,  rgb(81,132,246) 100%); /* for       firefox 3.6+ */
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text {
    float: left;
    font-size: 9em;
    width: 65.868429%;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 17.068754%;
    margin-top: 132px;
    clear: none;
    min-height: 164px;
    color: rgb(255, 255, 255);
    font-style: normal;
    opacity: 0.77;
    letter-spacing: 0.2em;
    font-family: wire-one;
}

#input {
    float: left;
    height: 69px;
    font-size: 2em;
    margin-left: 37.020068%;
    margin-top: 94px;
    clear: both;
    width: 11.826116%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    border-width: 4px;
    background-color: rgba(0, 143, 206, 0.741176);
    display: block;
    color: rgb(255, 255, 255);
    font-family: wire-one;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: none;
}

#input:hover {
    background-color: rgb(175, 211, 224);
}

#box {
    float: left;
    height: 12.26158%;
    clear: both;
    width: 31.73389%;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 68px;
    margin-left: 34.137508%;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
    background-color: rgba(32, 87, 177, 0.380392);
}

#text1 {
    float: left;
    font-size: 1em;
    width: 86.862702%;
    height: auto;
    text-align: justify;
    font-weight: 500;
    line-height: 1em;
    margin-left: 6.969296%;
    margin-top: 36px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: antic;
    opacity: 0.85;
}

#input1:hover {
    background-color: rgb(175, 211, 224);
}

#input1 {
    float: left;
    height: 69px;
    font-size: 2em;
    margin-left: 2.353151%;
    margin-top: 94px;
    clear: none;
    width: 11.826116%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    border-width: 4px;
    display: block;
    color: rgb(255, 255, 255);
    font-family: wire-one;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: none;
    background-color: rgba(0, 143, 206, 0.741176);
    margin-right: 0%;
}

@media only screen and (max-width: 1248px) {
    #text1 {
        height: auto;
        min-height: 0px;
    }

    #input {
        margin-top: 55px;
        margin-left: 37.016073%;
        clear: both;
        width: 11.824492%;
        height: 69px;
    }

    #box {
        width: 31.733927%;
        margin-top: 68px;
        margin-left: 34.137391%;
        clear: both;
        height: 14.441417%;
    }

    #text {
        width: 65.866342%;
        font-size: 8em;
    }

    #input1 {
        margin-top: 55px;
        margin-left: 2.357434%;
        clear: none;
        width: 11.824492%;
        height: 69px;
    }
}

@media only screen and (max-width: 900px) {
    #text {
        font-size: 6em;
        width: 65.85972%;
    }

    #box {
        width: 48.798785%;
        margin-top: 34px;
        margin-left: 25.596005%;
        clear: both;
        height: 15.531335%;
    }

    #input {
        margin-top: 57px;
        margin-left: 31.733247%;
        clear: both;
        width: 17.065538%;
        height: 69px;
    }

    #input1 {
        margin-top: 57px;
        margin-left: 2.409334%;
        clear: none;
        width: 17.056333%;
        height: 69px;
    }
}

@media only screen and (max-width: 640px) {
    #input {
        margin-top: 26px;
        margin-left: 15.927553%;
        clear: both;
        width: 32.899536%;
        height: 69px;
    }

    #box {
        width: 68.260942%;
        margin-top: 44px;
        margin-left: 15.927553%;
        clear: both;
        height: 18.80109%;
    }

    #text {
        width: 82.932692%;
        font-size: 5em;
        height: auto;
        min-height: 101px;
        margin-top: 132px;
        margin-left: 8.530146%;
        clear: none;
    }

    #text1 {
        height: auto;
        min-height: 209px;
    }

    #input1 {
        margin-top: 26px;
        margin-left: 2.37069%;
        clear: none;
        width: 31.734914%;
        height: 69px;
    }
}

@media only screen and (max-width: 348px) {
    #input {
        margin-top: 14px;
        margin-left: 0%;
        clear: both;
        width: 48.796695%;
        height: 69px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #box {
        width: 100%;
        margin-top: 23px;
        margin-left: 0%;
        clear: both;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 16.689373%;
    }

    #text {
        width: 87.697557%;
        height: auto;
        min-height: 127px;
        margin-top: 21px;
        margin-left: 6.133261%;
        clear: none;
        font-weight: 500;
        font-size: 4.4em;
    }

    #input1 {
        margin-top: -69px;
        margin-left: 51.198815%;
        clear: both;
        width: 48.805675%;
        height: 69px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

