/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(59,209,245); /* for non-css3 browsers */
    background-image: -ms-linear-gradient(top, rgb(59,209,245) 0%,rgb(81,132,246) 100%);

    background-image:-webkit-linear-gradient(270deg,rgb(59,209,245) 0%,rgb(81,132,246) 100%);
   background-image: -moz-linear-gradient(top, rgb(59,209,245) 0%,  rgb(81,132,246) 100%); /* for       firefox 3.6+ */
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#input {
    float: left;
    height: 69px;
    font-size: 2em;
    margin-left: 37.020068%;
    margin-top: 8.020306%;
    clear: both;
    width: 11.826116%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    border-width: 4px;
    background-color: rgba(0, 143, 206, 0.741176);
    display: block;
    color: rgb(255, 255, 255);
    font-family: wire-one;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: none;
}

#input:hover {
    background-color: rgb(175, 211, 224);
}

#box {
    float: left;
    height: 12.26158%;
    clear: both;
    width: 31.73389%;
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 3.60889%;
    margin-left: 34.137508%;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
    background-color: rgba(32, 87, 177, 0.380392);
}

#text {
    float: left;
    font-size: 1em;
    width: 86.862702%;
    height: auto;
    text-align: justify;
    font-weight: 500;
    line-height: 1em;
    margin-left: 6.969296%;
    margin-top: 36px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: antic;
    opacity: 0.85;
}

#input1:hover {
    background-color: rgb(175, 211, 224);
}

#input1 {
    float: left;
    height: 69px;
    font-size: 2em;
    margin-left: 2.353151%;
    margin-top: 8.020306%;
    clear: none;
    width: 11.826116%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    border-width: 4px;
    display: block;
    color: rgb(255, 255, 255);
    font-family: wire-one;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: none;
    background-color: rgba(0, 143, 206, 0.741176);
    margin-right: 0%;
}

#image {
    float: left;
    width: auto;
    max-width: 17.036099%;
    height: auto;
    margin-left: 41.495804%;
    margin-top: 44px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#box1 {
    float: left;
    height: 251px;
    margin-left: 0%;
    margin-top: 46.90625px;
    clear: both;
    width: 100%;
}

@media only screen and (max-width: 1256px) {
    #text {
        height: auto;
        min-height: 0px;
    }

    #input {
        margin-top: 55px;
        margin-left: 37.016073%;
        clear: both;
        width: 11.824492%;
        height: 69px;
    }

    #box {
        width: 31.733927%;
        margin-top: 68px;
        margin-left: 34.137391%;
        clear: both;
        height: 14.441417%;
    }

    #input1 {
        margin-top: 55px;
        margin-left: 2.357434%;
        clear: none;
        width: 11.824492%;
        height: 69px;
    }
}

@media only screen and (max-width: 900px) {
    #box {
        width: 48.797251%;
        margin-top: 22.640625px;
        margin-left: 25.596005%;
        clear: both;
        height: 12.26158%;
    }

    #input {
        margin-top: 57px;
        margin-left: 31.733247%;
        clear: both;
        width: 17.064003%;
        height: 69px;
    }

    #input1 {
        margin-top: 57px;
        margin-left: 2.409334%;
        clear: none;
        width: 17.053265%;
        height: 69px;
    }

    #image {
        margin-top: 32.24225616455078px;
        margin-left: 40.265249%;
        clear: none;
        height: auto;
        width: auto;
        max-width: 19.465922%;
    }

    #box1 {
        width: 100%;
        height: 251px;
    }
}

@media only screen and (max-width: 651px) {
    #input {
        margin-top: 3.169502%;
        margin-left: 15.926622%;
        clear: both;
        width: 32.899031%;
        height: 69px;
    }

    #box {
        width: 68.203619%;
        margin-top: 3.481013%;
        margin-left: 15.926622%;
        clear: both;
        height: 11.444142%;
    }

    #text {
        height: auto;
        min-height: 0px;
        margin-top: 24px;
        margin-left: 6.764056%;
        clear: none;
    }

    #input1 {
        margin-top: 3.169502%;
        margin-left: 2.373418%;
        clear: none;
        width: 31.734573%;
        height: 69px;
    }

    #image {
        margin-top: 22px;
        margin-left: 33.902789%;
        clear: none;
        height: auto;
        width: auto;
        max-width: 31.848299%;
    }

    #box1 {
        margin-top: 7.171875px;
        margin-left: 0%;
        clear: both;
        width: 100%;
        height: 251px;
    }
}

@media only screen and (max-width: 348px) {
    #input {
        margin-top: 23px;
        margin-left: -0.05387931%;
        clear: both;
        width: 48.788462%;
        height: 69px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #box {
        width: 100%;
        margin-top: 37px;
        margin-left: 0%;
        clear: both;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 16.689373%;
    }

    #input1 {
        margin-top: 23px;
        margin-left: 2.406609%;
        clear: none;
        width: 48.798077%;
        height: 69px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #image {
        height: auto;
        width: auto;
        max-width: 48.588223%;
        margin-top: 49px;
        margin-left: 25.597162%;
        clear: none;
    }

    #box1 {
        float: left;
        height: 251px;
        margin-left: 0%;
        margin-top: 46.90625px;
        clear: both;
        width: 100%;
    }
}


