<!DOCTYPE html>
<html>
    <head>
        <title>Four Eyed Cat</title>
        <link rel="stylesheet" href="/css/boilerplate.css" />
	<link rel="stylesheet" href="/css/FrontPage.css" />
<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/antic:n4:all;wire-one:n4:all.js"></script>
  <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
 
        <!-- Default Theme -->
        <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
 
        <!--  jQuery 1.7+  -->
        <script src="/assets/js/jquery-1.9.1.min.js"></script>
 
        <!-- Include js plugin -->
        <script src="/assets/owl-carousel/owl.carousel.js"></script>
        
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5384f7de11ee6e1e"></script>
            <div id="primaryContainer" class="primaryContainer clearfix">
        <a href="/"><img id="logo" src="/img/Logo.png" class="image" /></a>
    </head>
    <body>
        
        