<nav class="nav-primary" role="navigation" >
    <ul>
       

        
        <li>
        	<a  href="/index.html">Home</a>
        </li>
        
        
        
        {% for p in site.pages %}
   
        <li>
        	<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
        <br>
        <li>
        	<a  href="http://www.twitter.com/foureyedcat/">Twitter</a>
            </li>
        <li>
            <a  href="mailto:info@foureyedcat.com">E-mail</a>
        </li>
        
        
    </ul>
    
</nav>
