<nav class="nav-primary" role="navigation" >
    <ul>
       

        
        <li>
        	<a  href="/">Home</a>
            
        </li>
        <li>
        <a  href="/blog">Blog</a>
        </li>
        {% for p in site.pages %}
        
        {%  assign post = true %} 
        {% if p.title contains 'Tag:' %}
        {% assign post = false %} 
        {% endif %}
        
          {% if post %}
            <li>
                <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a>
            </li>
        {% endif %}
        {% endfor %}
        <br>
       
        
        <li>
        	<a  href="http://www.twitter.com/foureyedcat/">Twitter</a>
        </li>
        <li>
            <a  href="mailto:info@foureyedcat.com">E-mail</a>
        </li>
        <br>
        <br>
        <li>
        <a  href="/PressKit">Press</a>
        </li>
    </ul>
    
</nav>
