<h1>Latest Blog Post</h1>
<hr>
<h2 class="entry-title">
{% if page.title %}
    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
{% endif %}
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>
  <hr>
{% if post.date %}
    <p class="author">
     <span class="date"><h5>{{ post.date | date_to_long_string}} {{ post.date | date: "%H:%M %Z" }}</h5></span>
</p>
{% endif %}


<div class="entry-content">  {{ post.excerpt }}
                        
<br>
</div>
<span ><a href="{{ post.url }}"> continue reading &raquo;</a></span>
                      