
{% include head.html %}

        
          
          
            <div id="box" class="clearfix">
                <div id="nav_background" class="clearfix">
                    <div id="nav_content" class="clearfix">
                         {% include nav.html %}
                        <br>
                        <br>
                        
                        
                    </div>
                       
                </div>
                
                
                    
                        {{content}}
                     
                  
                
                <!-- This loops through the paginated posts -->
                
            </div>
                 <br>
        <br>
     
       
 
 
{% include foot.html %}