
{% include head.html %}

        
          
          
        <div id="main_box" class="clearfix">
            <div id="main_box_content" class="clearfix">
                <div id="nav_box" class = "clearfix">
                    <div id="nav_background" class="clearfix">
                        <div id="nav_content" class="clearfix">
                            {% include nav.html %}
                            <br>
                            <br>
                        
                        
                        </div>
                       
                    </div>
                </div>
                
                    {{content}}
                
                <!-- This loops through the paginated posts -->
            </div>
        </div>
        <br>
        <br>
     
       
 
 
{% include foot.html %}